header,
.meal:not(:last-child) {
  border-bottom: 1px solid #ccc;
  /* backdrop-filter: blur(50px); */
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: black(0, 0%, 100%);
  font-size: 30px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.chart {
  border: 3px solid royalblue;
}
